.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.3s ease-in;
    overflow: hidden;
    opacity: 85%;
    background-color: #f5ebe0;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .navbar img {
    width: 130px;
    height: auto;
}

.header .nav-menu {
    display: flex;
    z-index: 1000;
}
.header .navbar .list-icon {
    display: none;
    justify-content: center;
    align-items: center;

    padding: 5px;
    border-radius: 5px;
    background: #f5ebe0ab;
    box-shadow: 3px 3px 7px #9d968f, -3px -3px 7px #ffffff;
}

.header .navbar .list-icon:hover {
    border-radius: 5px;
    background: linear-gradient(145deg, #ddd4ca, #fffbf0);
    box-shadow: 3px 3px 7px #9d968f, -3px -3px 7px #ffffff;
}

.header .navbar .list-icon.active {
    box-shadow: inset 3px 3px 7px #d0c8be, inset -3px -3px 7px #ffffff;
}

.header .nav-menu .nav-item {
    padding: 1rem;
    font-weight: 500;
    /* z-index: 999; */
}

.header .nav-menu .nav-item a {
    color: black;
}

.header .nav-menu .nav-item .nav-link.active {
    color: rgb(89, 89, 89);

    padding-bottom: 8px;
    border-bottom: 3px solid gray;
}
.header .nav-menu .nav-item a:hover {
    color: white;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--secondary-color);
}

@media screen and (max-width: 940px) {
    .header {
        max-width: 100%;
        /* z-index: 20; */
    }
    .header .navbar {
        max-width: 100%;
    }
    .header .navbar .list-icon {
        display: block;
    }
    .nav-menu {
        position: fixed;
        right: -200%;
        /* left: 0; */
        top: 4.6rem;
        /* top: -100%; */

        flex-direction: column;
        background-color: #dfd5cbb0;
        width: 100%;
        height: 90vh;
        z-index: 10;

        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active {
        right: 0;
        padding-left: 0;
        justify-content: start;
        transition: 0.3s;

        /* top: 4.6rem; */
        /* z-index: 999; */
    }

    .nav-item {
        margin: 1.5rem 0;
    }
    /* .nav-item:hover {
        margin: 1.5rem 0;
        background-color: rgba(0, 0, 0, 0.336);
    } */
    .header .navbar img {
        width: 130px;
    }
}
